body {
    background-image: url("img2.png");
}

.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

img {
    width: 300px;
    height: 200px;
}

input,
button {
    height: 60px;
    font-size: 1.2rem;
    padding: 0 20px;
    border-radius: 5px;
}

input {
    background: #2e2e2e;
    border: 0;
    margin-bottom: 1px;

}

button {
    background: #672e88;
    border: 1px solid #672e88;
    color: #fff;
    margin: 15px 0;
}

a {
    font-family: 'roboto', sans-serif;
    margin: 20px auto;
    color: #AAA;

}

@media (min-width:850px) {
    body {
        background-image: url(ceu3.jpg);

    }
}

.login {
    width: 400px;
    height: 500px;
    background-color: #000000BF;
    margin: auto;
    margin-top: 70px;
    padding: 30;
    border-radius: 5px;
}

.container {
    width: 300px;
}

input {
    margin-bottom: 10px;
}
